body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #a088b3;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

input[type=submit]:hover {
    background-color: #937ea4;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}