html {
    background-color: cadetblue;
}

body {
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gold;
    text-align: center;
    font-size: 5vw;
}

h3, div {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gold;
}

img {
    width: 100px;
    animation: mymove 5s;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes mymove {
    from {
        left: -100vw;
    }
    to {
        left: 0vw;
    }
}

#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20px auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 20px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    width: 100px;
    height: 40px;
    display: block;
    margin: 25px auto;
}